include mixins/title-section


doctype html
html(lang="ru-RU")
  block vars
  head
    title
      | South Memorials | 
      block title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block links
    link(href="css/main.min.css" rel="stylesheet")
    link(href="css/pushy.css" rel="stylesheet")  
  body.body
    include ../blocks/pushy.pug
    div(class="wrapper wrapper_"+page)
      include ../blocks/header.pug
      main.main
        block content
      include ../blocks/footer.pug
      block scripts
        script(src="js/scripts.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js")
        script(src="js/jquery.maskedinput.min.js")
        script(src="js/pushy.min.js")
        script(src="js/modal.js")
