extends base/base

block vars
  - var page = 'homepage'

block title
  | Заказ памятников

block content
  section.section-header
    .container-fluid.max-width
      +title-section('title-page', 'Производство и монтаж памятников')
      .section-header__text.row 
        | Мастерская предлагает изготовление памятников любых форм и размеров. Выполним ваш заказ качественно, оперативно, в указанные сроки. Гранитные памятники отличаются эстетичным внешним видом, 
        | долговечностью, надежностью. Надгробия из гранита солидны, устойчивы к воздействию солнечных лучей, не боятся морозов, воды. Они не впитывают грязь, пыль, не выцветают, не тускнеют, 
        | не деформируются, на них не стираются рисунки, надписи. Памятники выдерживают перепады температур и сохраняют первозданный вид спустя десятилетия.
  section.section-callback.container
    +title-section('title-mini', 'Обратный звонок')
    .__text Мы перезвоним вам в ближайшее время, проконсультируем и подскажем приблизительную стоимость <br><br> Для подробного знакомства с нашими услугами перейдите в раздел <a href="/order.html" class="section-callback__text_bold">оформление заявки</a>
    form.callback-form.row#form-main
      .callback-wrapper
        input(type="text" name="name" placeholder="Ваше имя").callback-form__name
        .__text-agree Оставляя данные, я принимаю <a href="" class="callback-wrapper__text-agree_underline">политику конфиденциальности</a>  
      input(type="tel" name="phone" placeholder="Контактный телефон").__phone
      button(type="submit" data-modal="#modal1").__btn.open-modal Узнать стоимость
      .modal#modal1
        .content
          h2.title Ваша заявка отправлена
          p.__text Мы свяжемся с вами в ближайшее время
          a(data-modal="#modal1" href="#").btn.close-modal Закрыть
      .__text-agree.--m Оставляя данные, я принимаю <a href="" class="callback-wrapper__text-agree_underline">политику конфиденциальности</a>
  section.section-features
    .container
      +title-section('title-mini', 'Наши возможности')
      ul.features-list
        each flist in [['icon-working','Собственное производство'], ['icon-ten','Опыт работы более 10 лет'], ['icon-rock','Надгробия из настоящего гранита и мрамора'], ['icon-delivery','Доставка и монтаж включены в стоимость'], ['icon-time','Работаем быстро и оперативно']]
          li.features-item.__item.row.align-items-center
            .__icon(class=flist[0])
            .__text= flist[1]
  +title-section('title-mini', 'Наши работы')
  section.section-works
    .container
      .slider-works.row
        .__left-icon
        each image in [['2'], ['3'], ['4']] 
          img(src="img/"+image[0]+".jpg").__img.img-responsive
        .__right-icon
  +title-section('title-mini', 'Как найти нас')
  section.section-map
        
    
  
  
