extends base/base

block vars
  - var page = 'order'

block title
  | Оформление заявки

block content
  section.section-header
    .container-fluid.max-width
      +title-section('title-page', 'Оформление заявки')
      .section-header__text.row 
        | Цена формируется динамически исходя из желаемого надгробия и местности, на которой будет осуществлен монтаж. Ниже вы можете ознакомиться с работами и их приблизительной стоимостью
        | и отметить желаемое галочкой. Учтите, что вы можете также отметить несколько работ и «склеить» их в одну, все это будет прикреплено к заявке для вашего удобства. 
  section.section-gallery-title
    .container
      +title-section('title-mini', 'Галерея работ')
      .section-gallery-title__text.row.justify-content-center
        | Ниже представлены памятники разного стиля и выполнены из разных материалов
  section.section-gallery.container
    .gallery-row.row.justify-content-center
      .widget-checkout
        .__icon
        .__text Перейти к завершению
      each gitem in [['1'], ['2'], ['3'], ['4'], ['5'], ['6'], ['7'], ['8'], ['9'], ['10'], ['11'], ['12']]
        div(data-id =gitem[0] data-material="гранит" data-price="20 000").gallery-item
          img(src="img/item-1.png").__img.img-responsive
          .item-info.__info.d-flex.align-items-end.justify-content-between
            .__desc Артикул: #{gitem[0]} <br> Материал: гранит
            .__price ~ 20 000 руб
          button.__btn Приложить к заявке
  section.section-checkout
    .container
      +title-section('title-mini', 'Ваша заявка')
      form.form-checkout.row.flex-column
        .checkout-choice.__choice
          .__label Вы выбрали:
          .choice-block.__block
            .checkout-item.__item.d-flex
              img(src="img/item-1.png").__img.img-responsive
              .item-desc.__desc.d-flex.flex-column.justify-content-between
                .__id Артикул: 1
                .__material Материал: гранит
                .__price Приблизительная стоимость: ~ 20 000 руб
            .__text Здесь указана <u>только</u> стоимость памятника. <br> Стоимость работ, доставки и установки памятника вы сможете узнать в ответном звонке.
            textarea(placeholder="Ваш комментарий...").__comments
        .checkout-contact.__contact
          .__label Контактная информация:
          .contact-block.__block
            .callback-form.--co.d-flex.justify-content-center
              .callback-wrapper.__wrapper
                input(type="" name="your-name" placeholder="Ваше имя *").callback-form__name.--co
                .__text-agree Оставляя данные, я принимаю <a href="" class="callback-wrapper__text-agree_underline">политику конфиденциальности</a>
              input(type="phone" name="your-phone" placeholder="Контактный телефон *").__phone.--co
              .__text-required.--m * - Поля, обязательные для заполнения
              .__text-agree.--m Оставляя данные, я принимаю <a href="" class="callback-wrapper__text-agree_underline">политику конфиденциальности</a>
              button(type="submit").__btn Оформить заявку
            .__text-required * - Поля, обязательные для заполнения
            
    
  
  
