header.header
  .container-fluid.max-width
    .header-contacts-m.row
      a(href="tel:+7-918-900-00-00").__phone +7 (918) - 900 - 00 - 00
      a(href="mailto:contact@southmemorials.com").__email contact@southmemorials.com
    .header-block.row.justify-content-between.align-items-end
      .logo
        .__img
        .logo-text
          .__title south memorials
          .__text памятники на юге россии
      nav.menu.__menu
        ul.list.__list.d-flex
          each linkName in [['index', 'Главная'], ['order', 'Оформление заявки'], ['about-us', 'О нас'], ['faq', 'Вопрос - ответ']]
            li.__item
              a(href=linkName[0]+".html") #{linkName[1]}
      .contacts-block
        a(href="tel:+7-918-900-00-00").__phone +7 (918) - 900 - 00 - 00
        .__email 
          a(href="mailto:contact@southmemorials.com") contact@southmemorials.com
      .burger-btn-m.menu-btn
